body {
  background: rgb(255, 255, 255);
}

.btn-primary{
  background-color: rgb(114, 194, 150);
}

.btn-primary:hover{
  background-color: rgb(55, 94, 72);;
}

.celMin{
  display: none;
}
.celMax{
  display: none;
}