.Card {
  background: rgba(255, 60, 60, 0.226);
  border-radius: 10px;
  width: 300px;
  display: block;
  margin: 5px auto;
  
}


@media screen and (min-width: 64rem) {
  .Card {
    display: inline-block;
    width: 150px;
  }
}
@media screen and (min-width: 90rem) {
  .Card {
    display: inline-block;
    width: 180px;
  }
}
